@import @/styles/_mixins

.hero
  width: 100%
  height: 100vh
  padding: 0
  position: relative

.bg_wrp
  position: absolute
  z-index: 0
  width: 100%
  height: 100%
  // background-image: url("/images/familiar_faces.webp")
  // background-repeat: no-repeat
  // background-position: center
  filter: blur(10px)
  inset: 5
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.05), rgb(17, 17, 17) 80%), url("/images/familiar_faces.webp") no-repeat
  background-position: center center !important
  background-size: cover

.nav_wrp
  width: 100%
  @include fl-cc
  position: relative
  top: 80px
  z-index: 10

.nav
  position: relative
  @include fl-cc
  width: 70vw
  gap: 15px

.item
  @include fl-tl
  @include fl-c
  width: 18%
  max-width: 18%
  gap: 5px
  text-transform: uppercase
  font-family: "Monument-regular", sans-serif
  color: #f1f1f1
  letter-spacing: 0.05em
  font-size: 14px
  overflow: hidden
  text-overflow: ellipsis

.indicator
  border: 1px solid #fff
  height: 7px
  width: 100%
  margin-bottom: 13px

.item_info, .item_info_title
  max-width: 100%
  width: 100%
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis

.item_info
  margin-top: -5px

.main
  position: relative
  z-index: 10
  width: 100%
  height: 100%
  @include fl-cc

.chev_left
  margin-right: auto
  fill: rgba(255,255,255,0.6)
  fill-opacity: 0.6
  cursor: pointer
  &:hover
    fill-opacity: 1
    transition: all 0.4s ease

.chev_right
  @extend .chev_left
  margin-right: 0
  margin-left: auto

.release_wrp
  @include fl-cl
  margin-top: 1.7rem

.release_date
  height: 28rem
  width: 1.8rem
  @include fl-bl
  white-space: nowrap

.release_date_p
  position: relative
  writing-mode: vertical-rl
  rotate: -180deg
  i
    color: #F68E2F

.release_img_wrp
  width: 28rem
  height: 28rem

.release_img
  width: 100%
  object-fit: cover

.release_info
  text-transform: uppercase
  font-family: "Monument-regular"
  font-size: 20px
  font-weight: 500
  font-style: normal
  color: #fff
  position: relative
  right: 115px

.release_cta_btns
  margin-top: 25px
  @include fl-tl
  gap: 15px
  button
    outline: none
    text-transform: uppercase
    font-family: "Monument-regular"
    font-size: 14px
    letter-spacing: 0.1em
    padding: 1.2em 1.8em
    font-weight: 500
    font-style: normal
    color: #fff

.release_title
  color: transparent
  -webkit-text-stroke: 1px #f1f1f1
  text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25)

.view_release_btn
  border: 1px solid #F68E2F
  background: #F68E2F
  cursor: pointer
  &:hover
    background: #F1F1F1
    color: black
    border-color: #F1F1F1
    transition: color 100ms linear, background-color 100ms linear

.player_listen_btn
  border: 1px solid #fff
  background: none
  cursor: pointer
  &:hover
    background: #F1F1F1
    color: black
    border-color: #F1F1F1
    transition: color 100ms linear, background-color 100ms linear
